@model IEnumerable<DriveDiaryWebApp.Models.RefuelEvent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Car.Mark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefuelMileage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefuelDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefuelLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefuelAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePerLiter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefuelEventDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Car.Mark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefuelMileage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefuelDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefuelLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefuelAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PricePerLiter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefuelEventDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RefuelEventId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RefuelEventId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RefuelEventId })
        </td>
    </tr>
}

</table>
