<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css-datetimepicker-layout")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/chart")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker-layout")

    <!-- Use DateTimePicker bootstrap widget for setting the refuel date and time -->
    <script>
    jQuery(document).ready(function () {

        jQuery('.datepicker').datetimepicker({ format: 'DD/MM/YYYY' });
        jQuery('.datetimepicker').datetimepicker({
            locale: 'fi',
            format: 'D.M.YYYY HH:mm:ss'
        });
        jQuery('.datetimepicker').removeAttr("data-val-date");
    });
    </script>
 

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.Partial("_TopMenuPartial")
                @Html.Partial("_LoginPartial")
            </div>
<!-- SL: If user is authenticated (e.g. signed in), show options to view cars and refuel diary -->  
@if (Request.IsAuthenticated)
{
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("My Cars", "Index", "Cars")</li>
                    <li>@Html.ActionLink("Refuelling", "Index", "RefuelEvents")</li>
                </ul>
            </div>
}
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Sami Lakaniemi - DriveDiary</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
