@if (Request.IsAuthenticated)
{
    @Html.ActionLink("DriveDiary", "Index", "SignedInHome", new { area = "" }, new { @class = "navbar-brand" })
}
else
{
    @Html.ActionLink("DriveDiary", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
}
            </div>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        @if (Request.IsAuthenticated)
        {
            <li>@Html.ActionLink("Home", "Index", "SignedInHome")</li>
            <li>@Html.ActionLink("About", "About", "SignedInHome")</li>
            <li>@Html.ActionLink("Contact", "Contact", "SignedInHome")</li>
        }
        else
        {
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        }
    </ul>
